<div id="bar-{{ form.vars.name }}" class="col-4">
    {{ form_row(form.name) }}
    <button type="button" class="btn btn-outline-danger remove-bar" data-target="#bar-{{ form.vars.name }}">Delete bar</button>
</div>
