{% extends 'base.html.twig' %}

{% block title %}Edit Foo{% endblock %}

{% block body %}
    <h1>Edit Foo</h1>

    {{ include('foo/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('foo/_delete_form.html.twig') }}

    <a href="{{ path('foo_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {

            $(".add-bar").on("click", function() {
                $("#foo_bars").append(($("#foo_bars").data("prototype")).replace(/__name__/g, $("#foo_bars").data("index")));

                $("#foo_bars").data("index", parseInt($("#foo_bars").data("index")) + 1);
            });

            $("body").on("click", ".remove-bar", function() {
                $($(this).data("target")).remove();
            });
        })
    </script>
{% endblock %}